__pycache__/
__pycache__
.vscode/
.vscode
workingOutputs/
userOutput/
allOutputs/
*.cpp
test.in
*.userCompiled
.vscode
/*.exe
/*.out
workingPrograms_copy/
superImportantDontTouchCopy.txt